/* styles/font.css */

@font-face {
    font-family: 'neue_haas_grotesk_displa95Blk';
    src: url('/fonts/neuehaasdisplayblack-webfont.woff2') format('woff2'),
         url('/fonts/neuehaasdisplayblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_haas_grotesk_display75Bd';
    src: url('/fonts/neuehaasdisplaybold-webfont.woff2') format('woff2'),
         url('/fonts/neuehaasdisplaybold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_haas_grotesk_display45Lt';
    src: url('/fonts/neuehaasdisplaylight-webfont.woff2') format('woff2'),
         url('/fonts/neuehaasdisplaylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_haas_grotesk_display65Md';
    src: url('/fonts/neuehaasdisplaymediu-webfont.woff2') format('woff2'),
         url('/fonts/neuehaasdisplaymediu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_haas_grotesk_disp55roman';
    src: url('/fonts/neuehaasdisplayroman-webfont.woff2') format('woff2'),
         url('/fonts/neuehaasdisplayroman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Playfair_Display_Black';
    src: url('/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair_Display_Regular';
    src: url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}