/*Common*/
.homeCmnSubHead {
    font-size: 18px;
    line-height: 1em;
    margin: 0 0 15px;
    color: #666666;
    text-transform: uppercase;
}

.homeCmnHead {
    font-size: 48px;
    line-height: 1em;
    font-family: var(--medium);
    margin: 0;
    color: #333333;
}

.exploreMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
    font-size: 18px;
    line-height: 1em;
    position: relative;
    padding: 18px 45px 18px 30px;
    border-radius: 5px;
    color: var(--blue);
    font-family: var(--medium);
    transition: all 0.5s ease;
}

.exploreMoreBtn .arrow {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-image: url('/images/icons/right-arrow-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.exploreMoreBtn:hover {
    background: var(--blue);
    color: #fff;
}

.exploreMoreBtn:hover .arrow {
    transform: translateX(5px);
}

/*Banner*/
.bannerWrap {
    height: 100vh;
    background: linear-gradient(rgba(7, 22, 55, 0.85), rgba(7, 22, 55, 0.85)), url('/images/home/banner-home-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
}

.bannerWrap .container {
    height: 100%;
}

.bannerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 100px;
}

.bannerContentLft>h1 {
    font-size: 60px;
    line-height: 1em;
    margin: 0;
    position: relative;
    padding-bottom: 20px;
}

.bannerContentLft>h1::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #919191;
}

.bannerContentLft>h1>em,
.bannerContentLft>p>em {
    display: block;
}

.bannerContentLft>p {
    font-size: 20px;
    line-height: 1.5em;
    padding-top: 30px;
}

.bannerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.bannerGridItem {
    border-radius: 10px;
    background: #22345A;
    padding: 30px 25px;
    min-width: 450px;
}

.bannerGridItem>em {
    display: block;
    color: #808EAB;
    font-style: normal;
    font-size: 30px;
    line-height: 1em;
    padding-bottom: 15px;
    border-bottom: 1px solid #808EAB;
    font-family: var(--light);
}

.bannerGridItem>h2 {
    padding: 70px 0 15px;
    font-family: var(--medium);
    line-height: 1.2em;
}

.bannerGridItem>h2>em {
    display: block;
}

.bannerGridItem>p {
    font-size: 18px;
    max-width: 350px;
    line-height: 1.4em;
}

/*area of applications*/
.areaOfApplicationsWrap {
    padding: 150px 0 300px;
}

.areaOfApplicationsHead {
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.areaOfApplicationsSlider {
    position: relative;
}

.areaOfApplicationsSlider .slideSec {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.areaOfApplicationsSlider .slideImg>img {
    border-radius: 20px;
}

.areaOfApplicationsSlider .slideTitle {
    display: flex;
    align-items: center;
    gap: 20px;
}

.areaOfApplicationsSlider .slideTitle>h3 {
    font-size: 26px;
    font-family: var(--bold);
    color: #333333;
}

.slideContent p {
    margin: 0;
    color: #444444;
    font-size: 18px;
    line-height: 1.4em;
}

.slideContent a {
    color: var(--blue);
    margin-top: 40px;
    font-size: 18px;
    line-height: 1em;
    display: inline-block;
    position: relative;
    padding-right: 30px;
    transition: color 0.3s ease;
}

.slideContent a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('/images/icons/right-arrow-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slideContent a:hover:after {
    transform: translateX(3px);
}

.skeleton-wrapper {
    display: flex;
    gap: 30px;
}

.skeleton-slide {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skeleton-img {
    height: 350px;
    background: #ccc;
    border-radius: 20px;
}

.skeleton-title {
    height: 30px;
    width: 50%;
    background: #ddd;
    border-radius: 6px;
}

.skeleton-text {
    height: 20px;
    width: 100%;
    background: #eee;
    border-radius: 6px;
}

.areaOfApplicationsSliderNav {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
}

.areaOfApplicationsSliderBtn {
    width: 40px;
    height: 40px;
    background-image: url('/images/home/right-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.areaOfApplicationsSliderBtn.areaOfApplicationsPrevBtn {
    rotate: 180deg;
}

/*our associate*/
.ourAssociatesWrap {
    padding: 120px 0 300px;
    background: linear-gradient(rgba(255, 255, 255, 0.9)), url('/images/home/bg-approvals-and-associates.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.ourAssociatesHead {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ourAssociatesHeadCont>p {
    font-size: 18px;
    line-height: 1.5em;
    color: #111111;
}

.ourAssociatesHeadCont>p>em {
    display: block;
}

.ourAssociatesSlider {
    position: relative;
}

.associateSlide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.associateSlide .associateImg>img {
    border-radius: 20px;
}

.associateSlide .associateDesc {
    font-size: 22px;
    line-height: 1.3em;
    color: #000;
    font-family: var(--medium);
    text-align: center;
    color: #444444;
}

.ourAssociatesSliderNav {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
}

.ourAssociatesSliderNavBtn {
    width: 40px;
    height: 40px;
    background-image: url('/images/home/right-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ourAssociatesSliderNavBtn.ourAssociatesSliderPrevBtn {
    rotate: 180deg;
}

/*our certification*/
.ourCertificationWrap {
    padding: 120px 0 300px;
    background: #fff;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.ourCertificationHead {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ourCertificationHeadCont>p {
    font-size: 18px;
    line-height: 1.5em;
    color: #111111;
}

.ourCertificationSlider {
    position: relative;
}

.certificationSlide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.certificationContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.certificationContent>h3 {
    font-size: 22px;
    line-height: 1.3em;
    font-family: var(--medium);
    color: #444444;
}

.certificationContent>p {
    font-size: 18px;
    line-height: 1.3em;
}

.ourCertificationNav {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
}

.ourCertificationSlierNavBtn {
    width: 40px;
    height: 40px;
    background-image: url('/images/home/right-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ourCertificationSlierNavBtn.ourCertificationSliderPrevBtn {
    rotate: 180deg;
}

/*tesimonials*/
.tesimonialsWrap {
    padding: 150px 0 250px;
    background: linear-gradient(rgba(17, 17, 17, 0.8)), url('/images/home/bg-testimonials.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.testimonialsHead .homeCmnSubHead,
.testimonialsHead .homeCmnHead {
    color: #fff;
}

.testimonialsBody {
    padding: 40px 0 0;
    position: relative;
}

.testimonialItem {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    padding: 80px 65px;
    border: 1px solid #7B7B7B;
    border-radius: 20px;
    text-align: center;
}

.testimonialItem>h3 {
    font-size: 24px;
    line-height: 1em;
    margin: 20px 0 5px;
}

.testimonialDesignation {
    font-family: var(--medium);
    font-size: 18px;
}

.testimonialDescription {
    font-size: 18px;
    line-height: 1.4em;
    margin: 50px 0 60px;
}

.testimonialsSliderNav {
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    gap: 15px;
    z-index: 10;
}

.testimonialsSlierNavBtn {
    width: 40px;
    height: 40px;
    background-image: url('/images/home/left-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.testimonialsSlierNavBtn.testimonialsSliderNextBtn {
    rotate: 180deg;
}

/*view our profile*/
.viewOurProfileWrap {
    height: 100vh;
    background: linear-gradient(rgba(0, 22, 42, 0.6)), url('/images/home/bg-corporate-profile.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.viewOurProfileBody {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.viewOurProfileBody>h2 {
    color: #fff;
    margin-bottom: 10px;
}

.playButtonWrap {
    display: inline-block;
    cursor: pointer;
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.playButtonWrap:hover {
    transform: scale(1.1);
}

.videoPopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.videoPopupContent {
    position: relative;
    width: 90%;
    max-width: 800px;
    background: #000;
    border-radius: 8px;
    overflow: hidden;
}

.closeVideoPopup {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.closeVideoPopup:hover {
    background: #fff;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*our products*/
.ourProductsWrap {
    padding: 150px 0 0;
    background: #333333;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.ourProductsHead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: flex-end;
}

.ourProductsHeadLft .homeCmnSubHead,
.ourProductsHeadLft .homeCmnHead {
    color: #fff;
}

.ourProductsHeadRght .exploreMoreBtn {
    color: #fff;
    border-color: #fff;
}

.ourProductsHeadRght .exploreMoreBtn:hover {
    background-color: #fff;
    color: #000;
}

.ourProductsBody {
    position: relative;
}

.ourProductsSliderNav {
    position: absolute;
    top: 60px;
    right: 100px;
    display: flex;
    gap: 15px;
    z-index: 10;
}

.ourProductsSlierNavBtn {
    width: 40px;
    height: 40px;
    background-image: url('/images/home/left-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ourProductsSlierNavBtn.ourProductsSliderNextBtn {
    rotate: 180deg;
}

.productItem {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.productBg {
    position: relative;
    width: 100%;
    height: 95vh;
}

.productImage {
    object-fit: cover;
}

.productContent {
    position: absolute;
    top: 80px;
    left: 100px;
    color: #fff;
}

.productNumber {
    font-size: 26px;
    line-height: 1em;
    color: #ABABAB;
}

.productName {
    font-size: 60px;
    margin: 5px 0 15px;
}

.productContent>a {
    font-size: 18px;
    line-height: 1em;
    position: relative;
    display: flex;
    transition: all 0.5s ease;
    align-items: center;
}

.productContent>a .arrow {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-image: url('/images/icons/right-arrow-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.productContent>a:hover .arrow {
    transform: translateX(3px);
}

/*events*/
.eventsWrap {
    padding: 150px 0 250px;
    background: #556075;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.eventsBody {
    margin: 0 180px;
}

.eventItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventImg>img {
    border-radius: 20px;
}

.eventsSliderNav {
    position: absolute;
    top: 150px;
    right: 100px;
    display: flex;
    gap: 15px;
    z-index: 10;
}

.eventNavBtn {
    width: 45px;
    height: 45px;
    background-image: url('/images/home/left-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.eventNavBtn.eventsNextBtn {
    rotate: 180deg;
}

/*Insights Updates*/
.insightsUpdatesWrap {
    padding: 150px 0 250px;
    background: #ECECEC;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.insightsUpdateHead {
    display: flex;
    justify-content: space-between;
}

.insightsUpdateGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 45px 0 0;
}

.insightsUpdateGridItem {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 22px;
}

.insightsUpdateGridItem img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.insightsUpdateGridItem span {
    display: block;
    font-size: 16px;
    color: #666666;
    margin: 40px 0 20px;
}

.insightsUpdateGridItem h4 {
    font-size: 26px;
    margin: 0;
    color: #333333;
    font-family: var(--bold);
}

.insightsUpdateGridItem p {
    font-size: 18px;
    line-height: 1.5em;
    color: #111111;
    margin: 25px 0 50px;
}

.insightsUpdateGridItem a {
    font-size: 18px;
    font-family: var(--medium);
    color: var(--blue);
    cursor: pointer;
}

/*our Specialities*/
.ourSpecialitiesWrap {
    padding: 150px 0 200px;
    background: #848484;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.ourSpecialitiesHead .homeCmnSubHead,
.ourSpecialitiesHead .homeCmnHead {
    color: #fff;
}

.ourSpecialitiesHead {
    padding-bottom: 50px;
}

.specialitySlide {
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    border-radius: 20px;
    color: #fff;
    position: relative;
}

.specialitySlideTitle {
    font-size: 35px;
    font-family: var(--medium);
    color: #fff;
    margin-top: 30px;
}

.specialityItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.specialityCard {
    display: flex;
    gap: 30px;
    border-radius: 12px;
    transition: background 0.3s ease;
    position: relative;
}

.specialityCard:hover {
    background: rgba(0, 0, 0, 0.75);
}

/* Image */
.specialityImageWrap {
    flex: 0 0 150px;
    border-radius: 10px;
    overflow: hidden;
}

.specialityImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Content */
.specialityContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px 60px 30px 0;
    justify-content: center;
}

.specialityContent h4 {
    font-size: 26px;
    color: #fff;
    margin: 0;
}

/* Hide description smoothly (no layout shift) */
.specialityContent p {
    font-size: 18px;
    line-height: 1.5em;
    color: #fff;
    margin: 8px 30px 0 0;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    position: absolute;
    top: 35%;
}

/* Fade + slide up animation on hover */
.specialityCard:hover .specialityContent p {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.ourSpecialitiesBody {
    position: relative;
}

.ourSpecialitiesSliderNav {
    z-index: 10;
    gap: 15px;
    display: flex;
    position: absolute;
    top: -100px;
    right: 0;
}

.ourSpecialitiesSliderBtn {
    width: 45px;
    height: 45px;
    background-image: url('/images/home/left-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ourSpecialitiesSliderBtn.ourSpecialitiesNextBtn {
    rotate: 180deg;
}


.ourSpecialitiesMarquee {
    padding: 60px 30px 0;
    overflow: hidden;
}

.ourSpecialitiesMarquee .marqueeText {
    font-family: var(--marquee-black);
    font-size: 80px;
    color: #A8A8A8;
    text-transform: uppercase;
}

/*at glance*/
.atGlanceWrap {
    padding: 120px 0 200px;
    background: #ECECEC;
    position: relative;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    z-index: 1;
}

.atGlanceTopCont {
    display: flex;
    gap: 140px;
}

.atGlanceTopContLft>p {
    font-size: 30px;
    line-height: 1.5em;
    margin-top: 50px;
    color: #111111;
}

.atGlanceTopContLft a {
    color: var(--blue);
    margin-top: 40px;
    font-size: 18px;
    line-height: 1em;
    display: inline-block;
    position: relative;
    padding-right: 30px;
    transition: color 0.3s ease;
}

.atGlanceTopContLft a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('/images/icons/right-arrow-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.atGlanceTopContLft a:hover:after {
    transform: translateX(3px);
}

.atGlanceTopContRght {
    position: relative;
    flex: 1;
}

.atGlanceTopContRght>span {
    font-size: 620px;
    line-height: 1em;
    font-family: var(--medium);
    color: #E5E5E5;
}

.atGlanceTopContRght>em {
    position: absolute;
    bottom: 100px;
    right: 0;
}

.atGlanceMarquee {
    padding: 60px 30px 0;
    overflow: hidden;
}

.atGlanceMarquee .marqueeText {
    font-family: var(--marquee-black);
    font-size: 80px;
    color: #A8A8A8;
    text-transform: uppercase;
}