@media screen and (min-width: 2100px) {}

@media screen and (min-width: 1800px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1300px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 991px) {
    .bannerWrap {
        height: 100%;
    }

    .bannerContentLft>h1>em {
        display: inline-block;
    }

    .bannerContent {
        align-items: flex-start;
        padding-bottom: 30px;
    }


    .bannerContent {

        flex-direction: column;
    }

    .atGlanceTopCont {
        flex-direction: column;
    }

    .bannerGridItem {
        min-width: 100%;
    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 320px) {}