@media screen and (min-width: 2100px) {}

@media screen and (min-width: 1800px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1440px) {

    /*application page*/
    .applicationsInnerBody{padding: 150px 0;gap: 90px 45px;}

    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBody{padding: 100px 0;}
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(6, 1fr);}

    /*faq*/
    .faqBody{padding: 150px 0;}

    /* insights And Updates page */
    .insightsAndUpdatesInnerWrap{padding: 150px 0;}
    .insightsAndUpdatesInnerBody{max-width: 90%;margin: 0 auto;}

    /*careers*/
    .careerFormHead{padding-right: 160px;}
}


@media screen and (min-width: 1300px) {

    /*common*/
    .commonBanner .commonBannerContent { padding: 0 100px 70px; }

    .productLeftMenuSec {min-width: 350px;}
}


@media only screen and (min-width : 1200px) {}

@media screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {}


@media only screen and (max-width: 991px) {
    
    /*common banner*/
    .commonBanner .commonBannerWrap{height: 450px;}
    .commonBanner .commonBannerContent { padding: 0 25px 30px; }

    .productSections {flex-direction: column;}
    .productContent {top: 60px;left: 25px;}

    /*products main*/
    .productsMainItemContent { left: 25px; top: 60px; }
    .productsMainItemName { font-size: 40px; margin: 5px 0px 12px; }


    /*application page*/
    .applicationsInnerBody { padding: 80px 0; }    
    .applicationsInnerGrid { gap: 60px 30px;grid-template-columns: repeat(2, 1fr); }
    .applicationsInnerGridItemTitle > h3 { font-size: 22px; }
    .applicationsInnerGridItemTitle > img { max-width: 60px; }
    .applicationsInnerGridItemContent a { margin-top: 25px; }

    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBody{padding: 60px 0;}
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(3, 1fr);gap: 30px;margin-top: 40px;} 
    .approvalsAndAsscociatesBodyTitle > p{max-width: 100%;}    
    
    /*faq*/
    .faqBody{padding: 60px 0;}
    .faqHead > h2 {margin-bottom: 15px;}
    .faqContent{ padding: 0; }

    /* insights And Updates page */
    .insightsAndUpdatesInnerWrap{padding: 60px 0;}
    .insightsAndUpdatesInnerGridItem span { margin: 30px 0 15px;  }
    .insightsAndUpdatesInnerGridItem h4 { font-size: 20px;}
    .insightsAndUpdatesInnerGridItem p{ margin: 20px 0 35px;}

    /*careers*/
    .careersBodyWrap{padding: 60px 0;}
    .careersBody{flex-direction: column;gap: 45px;}
    .careersBodyWrap{gap: 20px;}
    .careerFormHead > p{margin: 10px 0;}


     
}

@media only screen and (max-width: 767px) {
    
    .prdtDesc>em {font-size: 16px; line-height: 25px; margin-bottom: 5px;}
    .prdtDesc {padding: 0 0 20px;}
    .productLeftMenuSec {min-width: auto;}

    /*common banner*/    
    .commonBanner .commonBannerWrap {height: 400px;}
    .commonBanner .commonBannerContent{padding: 0 15px 30px;}
    .commonBanner .commonBannerContent h1 {font-size: 28px; }

    /*products main*/        
    .productsMainItemName { margin: 5px 0 10px; font-size: 28px; }
    .productsMainItemContent { top: 40px; left: 20px; }
    .productsMainItemContent > a { font-size: 16px; } 

    /*application page*/
    .applicationsInnerBody { padding: 60px 0; }
    .applicationsInnerGrid {grid-template-columns: repeat(1, 1fr); gap: 40px; }
    .applicationsInnerGridItemTitle > img { max-width: 55px; }    
    .applicationsInnerGridItem {gap: 25px;}
    
    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBody { padding: 40px 0 60px; }
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(2, 1fr);gap: 25px;}
    .approvalsAndAsscociatesBodyTitle > h2 {font-size: 25px; margin-bottom: 12px; }
    .approvalsAndAsscociatesBodyTitle > p {font-size: 16px;}

    /*faq*/
    .faqBody{padding: 40px 0 60px;}
    .faqHeading{padding: 15px 15px 15px 0;}
    .faqHead > h2 {margin-bottom: 0px;font-size: 26px;}
    .faqHeading h3 {font-size: 18px;}
    .faqContent p {margin: 0 0 15px;font-size: 16px;}
    .faqToggle{font-size: 15px;}
    .faqToggle >img{max-width: 13px;}

    /* insights And Updates page */
    .insightsAndUpdatesInnerWrap { padding: 40px 0 60px; }
    .insightsAndUpdatesInnerGrid{grid-template-columns: repeat(2, 1fr);gap: 45px 20px;}

    /*careers*/
    .careersBodyWrap{padding: 40px 0 60px;}
    .careerFormHead > h2 {font-size: 26px;}
    .careersFormSec form{gap: 20px;}
    .careersFormSec form input{padding: 16px;height: 50px;font-size: 15px;}
    .careersFormSec form input::placeholder{font-size: 15px;}
    .careersFormSec form button{ font-size: 16px;padding: 16px;}
    .careersFormSec .captchaText{font-size: 16px;}
    .careersFormSec .customFileLabel{font-size: 16px;}
    .careersFormSec .fileUpload .fileName { font-size: 16px; }
    
}

@media only screen and (max-width: 479px) {
    .productList {grid-template-columns: 1fr;}

    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBodyGrid{gap: 30px 20px;}
    .approvalsAndAsscociatesBodyGridItem { gap: 15px;}
    .approvalsAndAsscociatesBodyGridItem > h3 {font-size: 16px;}
    .approvalsAndAsscociatesBodyGrid { margin-top: 30px;}

    /* insights And Updates page */
    .insightsAndUpdatesInnerGrid{grid-template-columns: repeat(1, 1fr);}
    .insightsAndUpdatesInnerGridItem p {margin: 15px 0px 20px;}

    /*careers*/
    .careerFormHead > h2 {font-size: 20px;}
    .careerFormHead > p {font-size: 16px;margin: 10px 0 5px;}
    .careersFormSec form{gap: 15px;}

}


@media only screen and (max-width: 320px) {}