@media screen and (min-width: 2100px) {}

@media screen and (min-width: 1800px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1440px) {}


@media screen and (min-width: 1300px) {
    .productLeftMenuSec {min-width: 350px;}
}


@media only screen and (min-width : 1200px) {}

@media only screen and (max-width: 1100px) {}


@media only screen and (max-width: 991px) {
    .productSections {flex-direction: column;}

    .productContent {top: 60px;left: 25px;}

    /*products main*/
    .productsMainItemContent { left: 25px; top: 60px; }
    .productsMainItemName { font-size: 40px; margin: 5px 0px 12px; }
}

@media only screen and (max-width: 767px) {
    .prdtDesc>em {font-size: 16px; line-height: 25px; margin-bottom: 5px;}

    .prdtDesc {padding: 0 0 20px;}

    .productLeftMenuSec {min-width: auto;}

    /*common banner*/
    .commonBanner .commonBannerWrap {height: 250px;}
    .commonBanner .commonBannerContent h1 {font-size: 28px; }

    /*products main*/        
    .productsMainItemName { margin: 5px 0 10px; font-size: 28px; }
    .productContent { top: 40px; left: 20px; }
    .productContent > a { font-size: 16px; } 

    
}

@media only screen and (max-width: 479px) {
    .productList {grid-template-columns: 1fr;}
}


@media only screen and (max-width: 320px) {}