@media screen and (min-width: 2100px) {}

@media screen and (min-width: 1800px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1440px) {

    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(6, 1fr);}
}


@media screen and (min-width: 1300px) {

    /*common*/
    .commonBanner .commonBannerContent { padding: 0 100px 70px; }

    .productLeftMenuSec {min-width: 350px;}
}


@media only screen and (min-width : 1200px) {}

@media screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {}


@media only screen and (max-width: 991px) {
    
    /*common banner*/
    .commonBanner .commonBannerWrap{height: 450px;}
    .commonBanner .commonBannerContent { padding: 0 25px 30px; }

    .productSections {flex-direction: column;}
    .productContent {top: 60px;left: 25px;}

    /*products main*/
    .productsMainItemContent { left: 25px; top: 60px; }
    .productsMainItemName { font-size: 40px; margin: 5px 0px 12px; }


    /*application page*/
    .applicationsInnerBody { padding: 80px 0; }    
    .applicationsInnerGrid { gap: 60px 30px;grid-template-columns: repeat(2, 1fr); }
    .applicationsInnerGridItemTitle > h3 { font-size: 22px; }
    .applicationsInnerGridItemTitle > img { max-width: 60px; }
    .applicationsInnerGridItemContent a { margin-top: 25px; }

    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(3, 1fr);gap: 40px;}
     
}

@media only screen and (max-width: 767px) {
    
    .prdtDesc>em {font-size: 16px; line-height: 25px; margin-bottom: 5px;}
    .prdtDesc {padding: 0 0 20px;}
    .productLeftMenuSec {min-width: auto;}

    /*common banner*/
    .commonBanner .commonBannerWrap {height: 250px;}
    .commonBanner .commonBannerContent h1 {font-size: 28px; }

    /*products main*/        
    .productsMainItemName { margin: 5px 0 10px; font-size: 28px; }
    .productsMainItemContent { top: 40px; left: 20px; }
    .productsMainItemContent > a { font-size: 16px; } 

    /*application page*/
    .applicationsInnerBody { padding: 60px 0 15px; }
    .applicationsInnerGrid {grid-template-columns: repeat(1, 1fr); gap: 40px; }
    .applicationsInnerGridItemTitle > img { max-width: 55px; }    
    .applicationsInnerGridItem {gap: 25px;}
    
    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(2, 1fr);gap: 30px;}
    
}

@media only screen and (max-width: 479px) {
    .productList {grid-template-columns: 1fr;}

    /*approvals-and-associates page*/
    .approvalsAndAsscociatesBodyGrid{grid-template-columns: repeat(1, 1fr);gap: 30px;}

}


@media only screen and (max-width: 320px) {}