/*products main*/
.productsMainItem { position: relative; width: 100%; display: flex; flex-direction: column; }
.productsMainItemBg { position: relative; width: 100%; height: calc(100vh - 100px); }
.productsMainItemImg { object-fit: cover; width: 100%; height: 100%; }
.productsMainItemContent { position: absolute; top: 80px; left: 100px; color: #fff; z-index: 2; }
.productsMainItemNumber { font-size: 26px; line-height: 1em; color: #ABABAB; }
.productsMainItemName { font-size: 60px; margin: 5px 0 15px; }
.productsMainItemContent > a { font-size: 18px; line-height: 1em; position: relative; display: flex; transition: all 0.5s ease; align-items: center; }
.productsMainItemContent > a .arrow { display: block; width: 16px; height: 16px; margin-left: 10px; background-image: url('/images/icons/right-arrow-white.svg'); background-size: contain; background-repeat: no-repeat; background-position: center; transition: transform 0.3s ease; }
.productsMainItemContent > a:hover .arrow { transform: translateX(3px); }


@media screen and (min-width: 2100px) {}

@media screen and (min-width: 1800px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1300px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 320px) {}