/*contact us*/
.contactUsWrapper{}
.contactInfoList{display: flex;justify-content: space-between;padding: 80px 0;border-bottom: 1px solid #e9e9e9;}
.contactInfoBx{position: relative;padding-left: 72px;}
.contactInfoBx>span{position: absolute;top:0;left:0}
.contactInfoBx>h2{font-family: var(--medium);font-size: 22px;line-height: 26px;color:#333333;margin:0 0 4px;}
.contactInfoBx>a{font-family: var(--medium);font-size: 15px;line-height: 25px;color:#111111;transition: all 0.5s ease;}
.contactInfoBx>a:hover{color:var(--sred);}

.contactGetInTouchWrap{padding:80px 0;}
.contactGetInTouch>h3{font-family: var(--medium);font-size: 26px;line-height: 32px;color:#333333;margin:0 0 35px;}
.getInBoxSet{display: flex;gap:30px;}
.getInTouchBox{padding: 40px 30px 30px;background-color: #f5f5f5;border-radius: 16px;flex-basis: calc(100% - 33.3%);}
.getInTouchBox>h4{font-family: var(--medium);font-size: 20px;line-height: 25px;color:#333333;margin:0 0 20px;}
.getInTouchBox>span{position: relative;padding-left: 35px;display: block;}
.getInTouchBox>span:after{content: '';background-image: url("../images/contactus/address-icon.svg");background-repeat: no-repeat;background-size: contain;display: inline-block;width: 20px;height: 20px;position: absolute;top:10px;left:0;}
.getInTouchBox>span.email:after{background-image: url("../images/contactus/email.svg");}
.getInTouchBox>span>em{display: block;font-style: normal;font-family: var(--medium);font-size: 15px;line-height: 25px;color:#000;margin:0;}
.getInTouchBox>span>p,.getInTouchBox>span>a{font-family: var(--regular);font-size: 15px;line-height: 22px;color:#333333;margin:0;padding-bottom: 20px;transition: all 0.5s ease;}
.getInTouchBox>span>p>i{font-style: normal;display: inline;}
.getInTouchBox>span>a:hover{color:var(--sred);}

.contactIndiaWrap{padding: 80px 0 250px;border-radius:var(--border-home) ;position: relative;overflow: hidden;min-height: 800px;}
.contactIndiaWrap:after{content: '';background-image: url("../images/contactus/india-background.png");background-repeat: no-repeat;background-size: cover;position: absolute;top:0;left:0;bottom: 0;right:0;z-index: 1;} 
.contactIndiaWrap:before{content: '';z-index: 2;background-color: #f3f3f3;position: absolute;top:0;bottom:0;right:0;left:0;opacity: 0.94;}
.contactIndiaMain{position: relative;}
.contactMapHead{display: inline-block;position: absolute;left:0;top:0;z-index: 5;}
.contactMapHead>h3{font-family: var(--medium);font-size: 25px;line-height: 28px;color:#333333;margin:0 0 6px;}
.contactMapHead>p{font-family: var(--regular);font-size: 12px;line-height: 18px;color:#333333;}
.indiaImg{max-width: 808px;margin:0 auto;position: relative;z-index: 3;padding-top:100px;}
.indIconSet{display: inline-block;padding-left: 50px;position: absolute;}
.indIconSet>em{position: absolute;top:0;left:8px;display: inline-block;width: 20px;height:28px;background-image: url(../images/contactus/location-pointer.svg);background-repeat: no-repeat;background-size: cover;cursor: pointer;transition: all 0.5s ease;}
.indIconSet>em:hover{transform: scale(1.10);}
.indIconSet>div{opacity:0;visibility: hidden;padding:15px 20px;background-color:#333333;border-radius: 6px;min-width: 270px;position: absolute;transition: all 00.5s ease;z-index: 15;}
.indIconSet>div.active{opacity:1;visibility: visible;}
.indIconSet>div:after{content:'';position: absolute;top:10px;left:-12px;width: 0;height: 0;border-top: 6px solid transparent;border-right: 12px solid #333333;border-bottom: 6px solid transparent;}
.indIconSet>div>h6{font-family: var(--medium);font-size: 18px;line-height: 24px;color:#fff;margin: 0;}
.indIconSet>div>p{font-family: var(--regular);font-size: 15px;line-height: 24px;color:#fff;margin: 0;}

.indIconSet.one{position: absolute;    margin-left: -194px;position: absolute;bottom: 87px;left: 50%;}
.indIconSet.two{    margin-left: -124px;bottom: 127px;left: 50%;}
.indIconSet.three{margin-left: -233px;bottom: 193px;left: 50%;}
.indIconSet.four{margin-left: -115px;bottom: 242px;left: 50%;}
.indIconSet.five{margin-left: -267px;bottom: 285px;left: 50%;}
.indIconSet.six{margin-left: -165px;bottom: 50%;left: 50%;}

.contactEnqFormWrap{display: block;border-radius:var(--border-home);padding:100px 0 90px;margin-top: -130px;background-color: #fff;position: relative;z-index: 2;}
.contactEnqSec>h4{font-family: var(--medium);font-size: 24px;line-height: 26px;color:#333333;margin: 0 0 10px;}
.contactEnqSec>p{font-family: var(--regular);font-size: 15px;line-height: 24px;color:#333;margin: 0;}

.formGroup{display: flex;gap:20px;}
.formGroup>div{flex-grow: 1;}
.formInput{border: 1px solid #d1d1d1;border-radius: 10px;margin-top: 20px;}
.formInput.noborder{border:none}
.formInput>input{height: 40px;border-radius: 10px;padding:0 20px;width: 100%;border: none;}
.formInput > textarea:focus-visible,.formInput>input:focus-visible{outline: none;}
.formInput>textarea{border-radius: 10px;padding:20px;width: 100%;border: none;font-family: var(--regular);height: 100%;}
.formGroup.nogrow > div{flex-grow: 0;}
.frmCaptcha{width: 100%;padding: 0 40px;height:40px;border-radius: 10px;display: flex;justify-content: center;align-items: center;}
.formInput.mxwcap{max-width: 100px;border:1px dashed #d1d1d1;}
.formInput.mxwcapinp{max-width: 150px;}
.formInput.mxrefresh{max-width: 50px;border: none;}
.refreshIcon{display: inline-block;background-color: #a2a2a2;border-radius: 10px;position: relative;width: 40px;height: 100%}
.refreshIcon:after{    content: "";background-image: url(../images/contactus/arrow-rotate-right.svg);background-repeat: no-repeat;background-size: contain;width: 15px;height: 15px;display: inline-block;position: absolute;top: 12px;left: 13px;}
.formBtn{display: inline-block;background-color: #444444;color:#fff;border-radius: 10px;padding: 15px 45px;margin-top:25px;font-size: 14px;line-height: 15px;}

/*dealership*/
.dealerShipCntSec{display: flex;gap:90px;padding:  80px 0 200px;}
.dealerLeftSide >h2{font-family: var(--medium);font-size: 26px;line-height: 28px;color:#333333;margin: 0 0 10px;}
.dealerLeftSide >h3{font-family: var(--medium);font-size: 20px;line-height: 26px;color:#656565;margin: 0 0 10px;}
.dealerRightSide>p{font-family: var(--regular);font-size: 20px;line-height: 25px;color:#2a2a2a;margin: 0 0 30px;}
.dealerRightSide>p>i{display: block;font-style: normal;}
.delarContainer{display: flex;gap:80px}
.delarContainer>div>h3{font-family: var(--medium);font-size: 18px;line-height: 25px;color:#333333;margin:0 0 8px}
.delarContainer>div>ul>li{font-family: var(--regular);font-size: 16px;line-height: 28px;color:#2a2a2a;text-decoration: underline #666666;text-underline-offset: 8px;padding-bottom: 8px;}
.dealerRightSide>p.outside{font-family: var(--regular);font-size: 16px;line-height: 28px;padding: 20px 0 0;color:#2a2a2a;}
.dealerRightSide>p.outside>a{transition: all 0.5s ease;}
.dealerRightSide>p.outside>a:hover{color: var(--sred);}
.dealerShipFormSec .contactEnqFormWrap{background-color: #f5f5f5;padding: 100px 0 100px;position: relative;}
.dealerShipFormSec .contactEnqSec{position: relative;z-index: 2;}
.dealerShipFormSec .frmCaptcha{background-color: #fff;}
.file-upload-group {display: flex;align-items: center;border: 1px solid #ccc;border-radius: 10px;background-color: #fff;padding: 0;height: 42px; overflow: hidden;}   
.file-label-text {display: block;margin-bottom: 5px;font-size: 14px;color: #686868;}
.browse-button {background-color: #e0e0e0;border: none;padding: 10px 15px;cursor: pointer;border-radius: 10px;margin: 0 10px 0 3px;;white-space: nowrap;font-size: 13px;line-height: 14px;color:#545454;}
.file-selected-text {color: #777;font-size: 14px;}
.hidden-file-input {display: none;}

/*certifications*/
.certificationSec{padding: 100px 0 60px;border-bottom: 1px solid #d8d8d8;}
.certifiHeader{display: block;text-align: center;}
.certifiHeader>h2{font-family: var(--medium);font-size: 26px;line-height: 32px;color:#333333;margin: 0 0 15px;}
.certifiHeader>p{font-family: var(--regular);font-size: 16px;line-height: 25px;color:#2a2a2a;margin: 0 0 30px;}
.certifiHeader>p>i{display: block;font-style: normal;}

.cardsContainer{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr;gap:30px}
.cardImg{border: 1px solid #d8d8d8;border-radius: 10px;display: flex;justify-content: center;}
.cardImg>img{border-radius: 10px;}

.cardContent{text-align: center;}
.cardContent>h3{font-family: var(--medium);font-size: 16px;line-height: 26px;color:#333333;margin: 15px 0 0;}
.cardContent>p{font-family: var(--regular);font-size: 15px;line-height: 20px;color:#2a2a2a;margin: 0 0 30px;}
.qualityAssuranceWrap{padding: 80px 0;}
.qualityRoundWrap{padding: 80px 0 180px;border-radius: var(--border-home);background-color: #dfdfdf;position: relative;margin-bottom: -110px;}
.qualityRoundWrap.white{background-color: #fff;}
/* .qualityRoundWrap.darker{background-color: #8a8a8a;margin-bottom: -180px;} */
.qualityRoundWrap.darker{background-color: #8a8a8a;}
.qualityAssureSec{display: flex;}
.qualityLeftColumn{flex-basis: 50%;flex-shrink: 0;}
.qualityLeftColumn>h2{font-family: var(--medium);font-size: 24px;line-height: 26px;color:#333333;margin: 15px 0 0;}
.qualityLeftColumn>h2>i{display: block;font-style: normal;}
.qualityLeftColumn>p{font-family: var(--medium);font-size: 16px;line-height: 25px;color:#2a2a2a;margin: 0 0 30px;}
.qalityDesc>p{font-family: var(--regular);font-size: 16px;line-height: 25px;color:#2a2a2a;margin: 0 0 30px;}
.qualityGallry{display: grid;grid-template-columns: 1fr 1fr;gap:20px;}

.qualityGallryNew{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;}
.qualityImgCard{display: flex;flex-direction: column;}
.qualityImgCard>img{border-radius: 16px;margin: 0 0 15px}
.qualityImgCard>span{display: block;text-align: center;}
.qualityImgCard>span>p{font-family: var(--medium);font-size: 16px;line-height: 25px;color:#2a2a2a;}
.qualityAssureDownHead{text-align: center;}
.qualityAssureDownHead>h3{font-family: var(--medium);font-size: 20px;line-height: 24px;color:#fff;margin: 15px 0 0;}
.qualityAssureDownHead>h3>i{display: block;font-style: normal;}


/*product details*/
.productDetailsWrapper{background-color: #f6f6f6;}
.productDetailsMainWrap {display: flex;padding: 80px 0 50px;}

.productGallery {flex: 0 0 40%; padding-right: 40px;}
.productGallery>div{max-width: 450px;}
.productGallery .swiper-slide{display: flex;justify-content: center;}
.productGallery .swiper-thumbs{padding: 20px 0;}
.productGallery .swiper-slide-thumb-active{border: 1px solid var(--sred);border-radius: 4px;}
.productGallery .swiper-slide-fully-visible{background-color: #fff;}
.productGallery .swiper-slide-fully-visible{opacity: 0.8;}
.productDetails {flex: 1; padding-left: 20px;}
.productHeader h1 {font-family: var(--medium);font-size: 25px;line-height: 32px;color: #333;margin: 0 0 10px;}
.productHeader .category { font-family: var(--medium);font-size: 16px;line-height: 25px;color: #666;margin:0 0 15px;}

.productDescription p {font-size: 14px;line-height: 22px;color: #444;}
.productNoteBox{margin: 20px 0;padding: 0;font-size: 14px;line-height: 22px;color: #666;}
.productNoteBox b{color:#444;}
.actionButtons {margin-bottom: 30px;}
.enquiryButton {background-color: #555; color: white;padding: 10px 15px;border: none;border-radius: 6px;cursor: pointer;font-family: var(--medium);font-size: 14px;line-height: 18px;display: flex;align-items: center;gap: 4px;}
.enquiryButton:hover {background-color: #333;}
.enquiryButton>span{display: inline-block;width: 20px;height:20px;position: relative;}
.enquiryButton>span:after{content:'';display: inline-block;width: 15px;height: 15px;position: absolute;top:2px;left: 0;background-image: url(../images/product-details/whatsapp.svg);background-repeat: no-repeat;background-size: cover;}
.optionGrid {display: flex;flex-wrap: wrap; gap: 10px;}
.optionTag {padding: 8px 15px;border: 1px solid #ccc;border-radius: 4px;cursor: pointer;font-size: 12px;line-height: 18px;color: #555;transition: background-color 0.2s, border-color 0.2s;background-color: #fff;}
.optionTag:hover {border-color: #333;}
.optionTag.selected {background-color: #ddd; border-color: #333;font-weight: bold;}
.productOptions{padding: 20px 0;border-top:1px solid #c2c2c2;border-bottom:1px solid #c2c2c2;}
.prdtRoundWrap{background-color:#ebebeb;border-radius: var(--border-home);padding: 65px 0 150px;position: relative;margin-bottom: -110px;}
/* .prdtRoundWrap.gray{background-color: #dfdfdf;position: relative;margin-bottom: -200px;} */
.prdtRoundWrap.gray{background-color: #dfdfdf;position: relative;}


.productInfoContainer {}
.specMobTab>span{display: none;}
.SpecTabs {display: flex;gap:15px;}
.SpecTabs >li{display: inline-block;padding: 10px 20px;background-color: #a9a9a9;color: #333;border-radius: 4px;font-family: var(--medium);font-size: 15px;line-height: 18px;position: relative;cursor: pointer;transition: all 0.3s ease;}
.SpecTabs >li:hover{background-color:#444 ;color:#fff;}
.SpecTabs >li.active{background-color:#444 ;color:#fff;}
.SpecTabs >li.active::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -1px;
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid #555;
}

.PrdtTabContent {
    display: none;
    padding: 15px 0;
    
}

.PrdtTabContent.active {
    display: block;
}

.PrdtTabContent ul {
    list-style: none; 
    padding: 0;
}

.PrdtTabContent li {
    padding: 5px 0 5px 15px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.PrdtTabContent li::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #a00;
    position: absolute;
    top: 12px;
    left: 0;
}
.PrdtTabContent li ul{padding:  10px 0;}
.PrdtTabContent li ul>li::before {
    border-radius: 0;
    border: none;
    content: '';
    display: inline-block;
    width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-left: 6px solid #0b2e85;
	border-bottom: 3px solid transparent;
    position: absolute;
    top: 10px;
    left: 0;
}
.relatedProductsWrap>h3{font-family: var(--medium);font-size: 25px;line-height: 32px;}
.relatedProductsSlider{padding-top:30px ;position: relative;}
.testdesc{padding: 20px 0;min-height: 90px;}
.customClck{position: absolute;top:-41px;right:0;display: flex;gap:20px;z-index: 1;}
.customClck>div{display: inline-block;width: 40px;height: 40px;position: relative;cursor: pointer;}
.customClck>div:after{content:'';display: inline-block;width: 100%;height: 100%;position: absolute;top:0;left:0;background-image: url(../images/home/right-arrow.svg);background-repeat: no-repeat;background-size: cover;}
.swiper-button-prev-custom:after{transform: rotate(180deg);}
.relatedProductsSlider .prdtDesc > em{font-size: 16px;line-height: 25px;}

.customClck .swiper-button-disabled{opacity: 0.6;cursor: default;}
.productTabTbl{}
.responsive-table{overflow-x: auto;  max-width: 100%; }

.productTabTbl table {width: 100%;border-collapse: collapse;box-shadow: 0 2px 5px rgba(0,0,0,0.1);font-size: 14px;line-height: 16px;}
.productTabTbl th,.productTabTbl td {padding: 12px 15px;text-align: left;border-bottom: 1px solid #ddd;}
.productTabTbl th {background-color: #444; color: white;font-weight: bold;border-right: 1px solid #002244;}
.productTabTbl tr:nth-child(even) {background-color: #f2f2f2; }
.productTabTbl tr:hover {background-color: #e9e9e9;}
.productTabTbl th:first-child {border-right: none;}

