@media screen and (min-width: 2100px) {

}

@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {

/*contact us*/
.getInTouchBox>span>p>i{display: block;}
.contactInfoBx > h2{font-size: 25px;line-height: 35px;}
.contactInfoBx > a{font-size: 18px;line-height: 25px;}
.contactGetInTouch > h3{font-size: 30px;line-height: 35px;}
.getInTouchBox > h4{font-size: 25px;line-height: 30px;}
.getInTouchBox > span > em{font-size: 18px;line-height: 30px;}
.contactMapHead > h3{font-size: 24px;line-height: 34px;}
.contactEnqSec > h4{font-size: 24px;line-height: 26px;}

/*dealership*/
.dealerShipCntSec{gap:150px;}
.delarContainer{gap:160px;}

/*product details*/
.productGallery{padding-right: 60px;}
.productGallery>div{max-width: 760px;}
.productDetails{max-width: 800px;}
.productHeader h1{font-size: 40px;line-height: 45px;margin: 0 0 20px;}
.productHeader .category{font-size: 18px;line-height: 25px;margin: 0 0 30px;}
.productDescription p{font-size: 18px;line-height: 25px;}
.productNoteBox{font-size: 18px;line-height: 25px;margin:30px 0;}
.optionTag{font-size: 18px;line-height: 25px;}
.productOptions{padding: 30px 0;}
.SpecTabs > li{font-size: 20px;line-height: 25px;}
.PrdtTabContent li{font-size: 18px;line-height: 25px;}
.relatedProductsSlider .prdtDesc > em{font-size: 18px;line-height: 25px;}
.PrdtTabContent li::before{top:14px;}
.PrdtTabContent li ul > li::before{top:16px;}

}

@media screen and (min-width: 1440px) {

}


@media screen and (min-width: 1300px) {

/*contact us*/
.indiaImg{padding-top: 0;}

}


@media only screen and (min-width : 1200px) {

}

@media only screen and (max-width: 1100px) {

}


@media only screen and (max-width: 991px) {

/*contact us*/
.contactInfoList{padding: 50px 0;}
.contactInfoBx {padding-left: 56px;}
.contactInfoBx>span>div{max-width: 40px;}
.contactInfoBx > h2{font-size: 16px;line-height: 26px;margin: 0;}
.contactInfoBx > a{font-family: var(--regular);font-size: 14px;line-height: 16px;}
.getInBoxSet{gap:15px;flex-wrap: wrap;justify-content: center;}
.getInTouchBox {flex-basis: 0;flex-shrink: 0;flex-grow: 1;}
.contactGetInTouchWrap{padding: 50px 0;}
.contactIndiaWrap{background-color: #f3f3f3;}
.contactIndiaWrap:before,.contactIndiaWrap:after{display: none;}
.contactIndiaWrap{min-height: auto;}
.contactEnqFormWrap {padding:70px 0 50px;}
.indiaImg{max-width: 449px;}
.indIconSet{padding-left: 45px;}
.indIconSet.one{margin-left: -108px;bottom:49px;}
.indIconSet.two{margin-left: -80px;bottom:81px;}
.indIconSet.three{margin-left: -132px;bottom: 122px;}
.indIconSet.four{margin-left: -72px;bottom: 141px;}
.indIconSet.five{margin-left: -150px;bottom: 169px;}
.indIconSet.six{margin-left: -91px;bottom: 259px;}
.indIconSet > div{padding: 15px;min-width: 200px;}
.indIconSet > div > h6{font-size: 15px;line-height: 20px;}
.indIconSet > div > p{font-size: 14px;line-height: 24px;}

/*dealership*/
.dealerShipCntSec{flex-direction: column;gap:30px;padding: 50px 0 143px;}
.dealerShipFormSec .contactEnqFormWrap{padding: 50px 0 150px;}
.delarContainer{gap:50px}

/*certifications*/
.certificationSec{padding:50px 0 40px;}
.cardsContainer{grid-template-columns: 1fr 1fr 1fr 1fr;gap:15px}
.qualityAssuranceWrap{padding: 50px 0;}
.qualityLeftColumn{flex-basis: 45%;}  
.qualityLeftColumn > h2{font-size: 22px;line-height: 25px;}
.qualityAssureDownHead>h3{font-size: 18px;line-height: 25px;}
.qualityAssureDownHead>h3>i{display: inline;}
.qualityRoundWrap{padding: 50px 0 150px;}

/*product details*/
.productDetailsMainWrap{flex-direction: column;padding: 50px 0 0;}
.productGallery{padding-right: 0;}
.productDetails{padding: 30px 0;}

/*mobile scroll menu*/
.specMobTab{position: relative;}
.specMobTab>span{display: block;padding: 10px 20px;color: #fff;background-color: #444;font-size: 16px;line-height: 24px;border-radius: 4px 4px 0 0;margin-bottom: 0;position: relative;cursor: pointer;}
.specMobTab>span:after{content:'';background-image: url('../images/icons/arrow-down.svg');background-repeat: no-repeat;background-size: contain;position: absolute;top:12px;right: 14px;display: inline-block;width: 15px;height: 15px;transition: all 0.5s ease;}
.specMobTab.active>span:after{transform: rotate(180deg);}
.specMobTab.active .SpecTabs{display: block;}
.SpecTabs{display: none;gap:0;position: absolute;top:44px;left:0;right:0;background-color:#a9a9a9 ;z-index: 2;}
.SpecTabs >li{border-radius: 0;display: block;}
.SpecTabs > li.active:before{display: none;}
/**/

}

@media only screen and (max-width: 767px) {

 /*contact us*/
.contactInfoList{flex-direction: column;padding: 30px 0 10px;}
.contactInfoBx{padding:0 0 20px 65px ;}
.contactGetInTouchWrap{padding: 30px 0;}
.contactGetInTouch > h3{font-size: 20px;line-height: 25px;margin: 0 0 20px;}
.getInTouchBox{padding: 20px;}
.getInTouchBox > h4{font-size: 18px;line-height: 24px;margin: 0 0 10px;}
.contactIndiaWrap{padding: 30px 0 155px;}
.contactEnqFormWrap{padding: 30px 0;}
.contactMapHead > h3{font-size: 18px;line-height: 24px;margin: 0 0 10px;}
.contactEnqSec > h4{font-size: 18px;line-height: 24px;margin: 0 0 10px;}
.contactEnqSec > p{font-size: 15px;line-height: 24px;margin: 0 0 10px;}

/*dealership*/
.dealerShipCntSec{gap:25px}
.delarContainer{flex-direction: column;gap:25px}

/*certifications*/
.cardsContainer{grid-template-columns: 1fr 1fr 1fr;}
.qualityAssureSec{flex-direction: column;}
.certifiHeader > p > i{display: inline;}
.qualityRoundWrap.darker{padding:30px 0 170px}
.qualityLeftColumn > h2 {font-size: 20px;line-height: 25px;}
.qualityAssureDownHead > h3{font-size: 16px;line-height: 22px;}

/*product listing*/
.SpecTabs{flex-direction: column;}
}

@media only screen and (max-width: 479px) {
 
/*contact us*/  
.contactIndiaWrap{padding: 30px 0 175px;}
.contactInfoBx > span > div{max-width: 20px;}
.contactInfoBx {padding: 0 0 20px 30px;}
.contactInfoBx>span{top:6px;}
.contactMapHead > h3{margin:0 0 4px}
.indiaImg{max-width: 300px;padding-top: 73px;}
.indIconSet{padding-left: 28px;}
.indIconSet>div{padding: 10px;}
.indIconSet>em{width:15px;height:15px;background-size: contain;}
.indIconSet.one{margin-left: -74px;bottom: 32px;}
.indIconSet.two{margin-left: -53px;bottom: 50px;}
.indIconSet.three{margin-left: -85px;bottom: 74px;}
.indIconSet.four{margin-left: -50px;bottom: 89px;}
.indIconSet.five{margin-left: -100px;bottom: 107px;}
.indIconSet.six{margin-left: -63px;bottom: 165px;}
.indIconSet > div{min-width: 150px;top:-79px}
.indIconSet > div > p {font-size: 13px;line-height: 24px;}
.indIconSet > div:after{top:81px}
.formGroup {flex-direction: column;gap:0;}
.formGroup.nogrow{flex-direction: row;gap:10px;}

/*dealership*/
.dealerShipCntSec{padding:30px 0 125px;gap:15px;}
.dealerLeftSide > h2{font-size: 20px;line-height: 25px;margin:0 0 5px}
.dealerLeftSide > h3{font-size: 18px;line-height: 22px;margin:0 0 5px}
.dealerRightSide > p{font-size: 16px;line-height: 22px;margin:0 0 15px}
.delarContainer > div > ul > li{font-size: 15px;line-height: 22px;}
.dealerRightSide > p.outside{font-size: 15px;line-height: 22px;margin: 0 0 25px;}
.dealerShipFormSec .contactEnqFormWrap{padding: 30px 0 120px;}

.certificationSec{padding:30px 0 20px;}
.certifiHeader > h2{font-size: 22px;line-height: 25px;}
.cardsContainer{grid-template-columns: 1fr;}
.qualityAssuranceWrap{padding: 30px 0;}
.qualityRoundWrap{padding: 30px 0 140px;}
.qualityLeftColumn > p{margin-bottom: 15px;}
.qualityGallry{grid-template-columns: 1fr;}
.cardContent > p{margin-bottom: 15px;}



.productDetailsMainWrap{padding: 30px 0 0;}
.prdtRoundWrap{padding: 30px 0 130px;}
.prdtRoundWrap.gray{margin-bottom:-125px ;}
.customClck{gap:10px;top:-26px;}
.customClck > div{width: 30px;height: 30px;}
.productDetails{padding: 20px 0;}
}


@media only screen and (max-width: 320px) {

}